  
body {
  font-size: 20px;
  color: black;
  background-color:     #F0FFFF;
  font-family: 'Oxygen', sans-serif;
  padding-left: 5%;
  border: 10px dashed #FF0000;


}
div{
    font-size: 20px;
    color: blue;
}
a{
  font-size: 20px;
  color: blue;
  
   
}
h1{ 
  text-align: center;
  color:    #F4A460; 
  font-size: 48px;
}
h2{
  text-align: center;
  color: black;
  padding-right: 2%;
  font-size:32px; 
}
p{
    font-weight: bold;
}
a:hover,div:hover{
    color: red;
    background-color: yellow;
    width:50%;
    font-weight: bold;
    font-size: 24px;
    outline: 3px double #FF4500;
}
li{
    margin:0 1em ;
}
ol{
    margin:0 1em ;
}
